chainlit>=1.0.0
langchain>=1.0.0
langchain-community
langchain-openai
langgraph
chromadb
faiss-cpu
pydantic
pydantic-settings
python-dotenv
sqlalchemy
psycopg2-binary
asyncpg
nltk
pypdf
python-docx
openpyxl
pillow
pandas
numpy
fastapi
uvicorn
qdrant-client
memoization
ruamel.yaml
loguru
langsmith
mcp
chardet
dashscope
langchain-chroma
langchain-text-splitters
langchain-core
pymilvus
aiofiles
pymysql
langchain-deepseek
unstructured
opencv-python
rapidocr-onnxruntime
rapidocr-paddle
jieba
tqdm
PyMuPDF
modelscope